openapi: 3.2.0
info:
  title: Clockodo Users API
  version: '2'
  description: Clockodo is a cloud-based time-tracking and project-management application for businesses.
  contact:
    name: Clockodo Support
    url: https://www.clockodo.com/en/contact/
  license:
    name: Clockodo Terms and Conditions
    url: https://www.clockodo.com/en/terms-and-conditions/
servers:
- url: https://my.clockodo.com/api
  description: Clockodo Production API
security:
- clockodoApiKey: []
- basicAuth: []
tags:
- name: Users
  description: Co-workers/users in the account.
paths:
  /v2/users:
    get:
      operationId: listUsers
      summary: List users
      tags:
      - Users
      responses:
        '200':
          description: Users.
    post:
      operationId: createUser
      summary: Create a user
      tags:
      - Users
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: Created user.
  /v2/users/{id}:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: integer
    get:
      operationId: getUser
      summary: Get a user
      tags:
      - Users
      responses:
        '200':
          description: User.
    put:
      operationId: updateUser
      summary: Update a user
      tags:
      - Users
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Updated user.
    delete:
      operationId: deleteUser
      summary: Delete a user
      tags:
      - Users
      responses:
        '204':
          description: User deleted.
components:
  securitySchemes:
    clockodoApiKey:
      type: apiKey
      in: header
      name: X-ClockodoApiKey
      description: Per-user API key. Must be paired with the X-ClockodoApiUser header carrying the user's email address.
    basicAuth:
      type: http
      scheme: basic
      description: HTTP Basic auth using the user's email as the username and the API key as the password.
