openapi: 3.2.0
info:
  title: Clockodo Holidays Quota API
  version: '2'
  description: Clockodo is a cloud-based time-tracking and project-management application for businesses.
  contact:
    name: Clockodo Support
    url: https://www.clockodo.com/en/contact/
  license:
    name: Clockodo Terms and Conditions
    url: https://www.clockodo.com/en/terms-and-conditions/
servers:
- url: https://my.clockodo.com/api
  description: Clockodo Production API
security:
- clockodoApiKey: []
- basicAuth: []
tags:
- name: HolidaysQuota
  description: Per-user holiday quotas.
paths:
  /holidaysquota:
    get:
      operationId: listHolidayQuotas
      summary: List holiday quotas
      tags:
      - HolidaysQuota
      responses:
        '200':
          description: Holiday quotas.
    post:
      operationId: createHolidayQuota
      summary: Create holiday quota
      tags:
      - HolidaysQuota
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: Created holiday quota.
components:
  securitySchemes:
    clockodoApiKey:
      type: apiKey
      in: header
      name: X-ClockodoApiKey
      description: Per-user API key. Must be paired with the X-ClockodoApiUser header carrying the user's email address.
    basicAuth:
      type: http
      scheme: basic
      description: HTTP Basic auth using the user's email as the username and the API key as the password.
