openapi: 3.1.0
info:
  title: Clockodo Absences Entries API
  version: '2'
  description: Clockodo is a cloud-based time-tracking and project-management application for businesses. The Clockodo REST API exposes the same objects available in the web UI and lets developers automate time capture, manage customers and projects, control the stop-clock, record absences, and run reporting integrations. Authentication uses a per-user email plus a per-user API key sent either as the X-ClockodoApiUser/X-ClockodoApiKey header pair or via HTTP Basic auth, and every request must additionally identify the calling application with the X-Clockodo-External-Application header.
  contact:
    name: Clockodo Support
    url: https://www.clockodo.com/en/contact/
  license:
    name: Clockodo Terms and Conditions
    url: https://www.clockodo.com/en/terms-and-conditions/
servers:
- url: https://my.clockodo.com/api
  description: Clockodo Production API
security:
- clockodoApiKey: []
- basicAuth: []
tags:
- name: Entries
  description: Time-tracking entries.
paths:
  /v2/entries:
    get:
      operationId: listEntries
      summary: List time entries
      description: Returns time-tracking entries filtered by date range, user, customer, project, or service.
      tags:
      - Entries
      parameters:
      - name: time_since
        in: query
        schema:
          type: string
          format: date-time
      - name: time_until
        in: query
        schema:
          type: string
          format: date-time
      - name: filter[users_id]
        in: query
        schema:
          type: integer
      - name: filter[customers_id]
        in: query
        schema:
          type: integer
      - name: filter[projects_id]
        in: query
        schema:
          type: integer
      responses:
        '200':
          description: List of entries.
    post:
      operationId: createEntry
      summary: Create a time entry
      description: Creates a new time-tracking entry.
      tags:
      - Entries
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: Created entry.
  /v2/entries/{id}:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: integer
    get:
      operationId: getEntry
      summary: Get a time entry
      tags:
      - Entries
      responses:
        '200':
          description: Single entry.
    put:
      operationId: updateEntry
      summary: Update a time entry
      tags:
      - Entries
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Updated entry.
    delete:
      operationId: deleteEntry
      summary: Delete a time entry
      tags:
      - Entries
      responses:
        '204':
          description: Entry deleted.
components:
  securitySchemes:
    clockodoApiKey:
      type: apiKey
      in: header
      name: X-ClockodoApiKey
      description: Per-user API key. Must be paired with the X-ClockodoApiUser header carrying the user's email address.
    basicAuth:
      type: http
      scheme: basic
      description: HTTP Basic auth using the user's email as the username and the API key as the password.
