openapi: 3.1.0
info:
  title: Clockodo Absences Projects API
  version: '2'
  description: Clockodo is a cloud-based time-tracking and project-management application for businesses. The Clockodo REST API exposes the same objects available in the web UI and lets developers automate time capture, manage customers and projects, control the stop-clock, record absences, and run reporting integrations. Authentication uses a per-user email plus a per-user API key sent either as the X-ClockodoApiUser/X-ClockodoApiKey header pair or via HTTP Basic auth, and every request must additionally identify the calling application with the X-Clockodo-External-Application header.
  contact:
    name: Clockodo Support
    url: https://www.clockodo.com/en/contact/
  license:
    name: Clockodo Terms and Conditions
    url: https://www.clockodo.com/en/terms-and-conditions/
servers:
- url: https://my.clockodo.com/api
  description: Clockodo Production API
security:
- clockodoApiKey: []
- basicAuth: []
tags:
- name: Projects
  description: Projects under customers.
paths:
  /v2/projects:
    get:
      operationId: listProjects
      summary: List projects
      tags:
      - Projects
      responses:
        '200':
          description: Projects.
    post:
      operationId: createProject
      summary: Create a project
      tags:
      - Projects
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: Created project.
  /v2/projects/{id}:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: integer
    get:
      operationId: getProject
      summary: Get a project
      tags:
      - Projects
      responses:
        '200':
          description: Project.
    put:
      operationId: updateProject
      summary: Update a project
      tags:
      - Projects
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Updated project.
    delete:
      operationId: deleteProject
      summary: Delete a project
      tags:
      - Projects
      responses:
        '204':
          description: Project deleted.
components:
  securitySchemes:
    clockodoApiKey:
      type: apiKey
      in: header
      name: X-ClockodoApiKey
      description: Per-user API key. Must be paired with the X-ClockodoApiUser header carrying the user's email address.
    basicAuth:
      type: http
      scheme: basic
      description: HTTP Basic auth using the user's email as the username and the API key as the password.
